.desktop_header_container {
	background-image: var(--brand-color);
}
.header {
	display: flex;
	padding: 10px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}
.button_group {
	display: flex;
	gap: 10px;
}
