.container {
	margin: 25px 5%;
	text-align: center;
}
.order_container {
	margin: 25px 0;
}
.order_container h1 {
	margin: 25px 0;
}
.order_container p {
	font-size: 17px;
}
.delivery_img {
	width: 75%;
	margin: 25px auto;
}
.category_container h1 {
	margin: 25px 0;
}
.category_items {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}
.category_item {
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 3px;
	max-width: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.4s;
}
.category_item:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
